/* DEFAULT ==================== */
/* BORDER ==================== */

/* DEFAULT ==================== */
.sc {
    width: 100vw;
}

/* BORDER ==================== */
.border-wrapper {
    position: relative;
}

.animation-border {
    position: absolute;
    z-index: 2;
}

@keyframes horizontalWidth {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@-webkit-keyframes horizontalWidth {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes horizontalWidthPadding {
    0% {
        width: 0;
    }
    100% {
        width: calc(100% + 2 * var(--section-padding));
    }
}

@-webkit-keyframes horizontalWidthPadding {
    0% {
        width: 0;
    }
    100% {
        width: calc(100% + 2 * var(--section-padding));
    }
}

@keyframes verticalHeight {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
}

@-webkit-keyframes verticalHeight {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
}

.horizontalWidth {
    transform-origin: left;
    -webkit-animation-name: horizontalWidth;
    animation-name: horizontalWidth;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.horizontalWidthPadding {
    transform-origin: left;
    -webkit-animation-name: horizontalWidthPadding;
    animation-name: horizontalWidthPadding;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.verticalHeight {
    transform-origin: top;
    -webkit-animation-name: verticalHeight;
    animation-name: verticalHeight;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.left-border {
    width: 1px;
    height: 0;
    left: 0;
    top: 0;
    background-color: var(--color-gold);
}

.right-border {
    width: 1px;
    height: 0;
    right: 0;
    top: 0;
    background-color: var(--color-gold);
}

.top-border {
    width: 0;
    height: 1px;
    left: 0;
    top: 0;
    background-color: var(--color-gold);
}

.bottom-border {
    width: 0;
    height: 1px;
    left: 0;
    bottom: 0;
    background-color: var(--color-gold);
}
